h2 Edit Shift
p
  label(for='location') Location: 
  input(ng-model='form.location', name='location')
p
  label(for='time') Time: 
  input(ng-model='form.time', name='time')
p 
  label(for='note') Note: 
  textarea(ng-model='form.note', cols='50', rows='15')
p 
  label(for='person') Person: 
  input(ng-model='form.person', name='person')
p 
  label(for='door') Door: 
  input(ng-model='form.door', name='door')
  hidden(ng-model='form.taked', name='taked')
p
  button(ng-click='editPost()') Edit Shift

//- 
//- .ibox-content
//-   form.form-horizontal(action='#')
//-     .form-group
//-       label.col-sm-2.control-label (for='location') Location: 
//-       .col-sm-10
//-         input.form-control(ng-model='form.location', name='location')
//-     .hr-line-dashed
//-     .form-group
//-       label.col-sm-2.control-label (for='time') Time: 
//-       .col-sm-10
//-         input.form-control(ng-model='form.time', name='time')
//-     .hr-line-dashed
//-     .form-group
//-       label.col-sm-2.control-label (for='note') Note: 
//-       .col-sm-10
//-         input.form-control(ng-model='form.note', name='note')
//-     .hr-line-dashed
//-     .form-group
//-       label.col-sm-2.control-label (for='person') Person: 
//-       .col-sm-10
//-         input.form-control(ng-model='form.person', name='person')
//-     .hr-line-dashed
//-     .form-group
//-       label.col-sm-2.control-label (for='device') Device: 
//-       .col-sm-10
//-         input.form-control(ng-model='form.device', name='device')
//-     .hr-line-dashed
//-     .form-group
//-       .col-sm-4.col-sm-offset-2
//-         button.btn.btn-white(type='submit') Cancel
//-         button.btn.btn-primary(type='submit') Save changes 
