h2 Edit Shift
p
  label(for='location') Location: 
  input(ng-model='form.location', name='location')
p
  label(for='time') Time: 
  input(ng-model='form.time', name='time')
p 
  label(for='note') Note: 
  textarea(ng-model='form.note', cols='50', rows='15')
p 
  label(for='person') Person: 
  input(ng-model='form.person', name='person')
p 
  label(for='door') Door: 
  input(ng-model='form.door', name='door')
  hidden(ng-model='form.taked', name='taked')
p
  button(ng-click='editPost()') Edit Shift
