p There are {{posts.length}} posts
table.table
  tr
    th #
    th Location
    th Time
    th Note
    th Person
    th Door
    th Taked
    th Actions
  tr(ng-repeat='post in posts', ng-class='{success: post.taked}')
    th(scope='row') 1
    td {{post.location}}
    td {{post.time}}
    td {{post.note}}
    td {{post.person}}
    td {{post.door}}
    td {{post.taked}}
    td 
      a(href='/readPost/{{post.id}}') More
      |  - 
      a(href='/editPost/{{post.id}}') Edit
      |  - 
      a(href='/deletePost/{{post.id}}') Delete
//- div
//-   h3 {{post.title}}
//-   div {{post.text}}
  a(href='/readPost/{{post.id}}') More
  |  - 
  a(href='/editPost/{{post.id}}') Edit
  |  - 
  a(href='/deletePost/{{post.id}}') Delete
